*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

a{
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}


a:hover{
    text-decoration: underline;
}
h1{
    text-align: center;
    font-size: 33px;
}

h2{
    text-align: center;
    margin: 5px;
    font-size: 30px;
    
}


h3{
    font-size: 23px;
    margin: 10px 0 10px 0;
}

p, span{
    padding: 8px;
    text-align: justify;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    line-height: 25px;
}

ul, ol{
    overflow: hidden;
    padding: 0 45px;
    text-align: justify;
    line-height: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.menuNavegacao{
    background-color: #057705;
    height: 8vh;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;

}
.menu{
    display: flex;
    gap: 35px;
}

.iconePortugal{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.imagemFundo{
    background-color: #fad645;
    height: 40vh;
    width: 40vw;
    margin: 10px 25px;
    
}
.secaoPrincipal{
    background-color: #f0f0f0;;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
    
}
.secaoPrincipal .introducao p{
    padding: 8px;
    text-align: justify;
    font-size: 16px;
}

.secaoSecundaria{
    background-color: #8099ccab ;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.cards{
    background-color:  #fad645;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    width: 95%;

}
.cards .imagem{
    width: 170px;
    height: 170px;
    border-radius: 10px 0px 0px 10px;
}

.culturaTradicao{
    width: 90%;
}

.culturaTradicao .imagamCentro{
    display: flex;
    justify-content: center;
    margin: 25px 0;
}
.subTitulos{
    font-weight: bold;
    font-size: 20px;
}



.fundoFooter{
    background-color: #FF0000;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fundoFooter ul li{
    list-style: none;
    margin: 10px 0; 
}




/*CORES DA BANDEIRAS DE PORTUGAL 
Verde: #006600
Vermelho: #FF0000
Amarelo: #FFCC00
Azul: #003399
Branco: #FFFFFF*/
